* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

#map {
  position: fixed; 
  top: 0; 
  bottom: 0;
  left: 0; 
  right: 0; 
	
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;

  margin: auto;
  overflow: auto;
}

.info-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-family: 'Georgia', serif;
  font-weight: 900;
  font-size: 2em;
}

.info-button:focus {
  outline: none;
}

.info-box {
  position: absolute;
  right: 10px;
  bottom: 55px;
  width: 200px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: white;
  text-align:center;
  display: none;
}

/* Triangle under info menu */
.info-box:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 175px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: white transparent;
}
